body {
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.mainWindow {
  border: 1px solid black;
  margin: 2%;
  display: grid;
  gap: 2%;
  grid-template-columns: 63% 35%;
}

.todos-list {
  margin: 3em 0 3em 3em;
  border: 1px solid blue;
}

.todos-list>h2 {
  margin: 1em;
}

.todo-remove {
  padding: 1em;
  width: 20%;
  text-align: center;
}

.todo-item {
  border: 1px solid saddlebrown;
  margin: 1em;
  display: flex;
  width: 95%;
}

.todo-item>div {
  display: inline;
}

.todo-text {
  border: 1px solid skyblue;
  padding: 1em;
  flex-grow: 2;
  width: 80%;
}

.todo-text>input {
  background-color: white;
  border: 0px;
}

.todo-instructions {
  padding-top: 0.4em;
  font-size: 0.6em;
  color: red;
}

.todo-remove {
  padding: 1em;
  width: 20%;
  text-align: center;
}

.weather {
  margin: 3em 3em 0 0;
  border: 1px solid red;
}

.add-todo {
  margin: 0 0 3em 3em;
  border: 1px solid green;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
}

.add-input {
  width: 80%;
  padding: 1em;
}

.add-input>input {
  width: 100%;
}

.add-btn {
  display: inline;
  padding: 1em;
  width: 20%;
  text-align: center;
}